CITI.EVO.Proxies/Connected Services/CuratioCommon/CommonDataWcf2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://212.72.135.243:5432/MIS/MIS.Common.Web/Services/CommonDataWcf.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MIS.Common.Svc.Enums" />
  <xs:import schemaLocation="http://212.72.135.243:5432/MIS/MIS.Common.Web/Services/CommonDataWcf.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MIS.Common.Svc.Contracts" />
  <xs:import schemaLocation="http://212.72.135.243:5432/MIS/MIS.Common.Web/Services/CommonDataWcf.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAreas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MIS.Common.Svc.Enums" minOccurs="0" name="type" type="q1:AreaTypesEnum" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MIS.Common.Svc.Enums" minOccurs="0" name="recordType" type="q2:RecordTypesEnum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAreasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MIS.Common.Svc.Contracts" minOccurs="0" name="GetAreasResult" nillable="true" type="q3:ArrayOfAreaContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildAreas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ParentID" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildAreasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MIS.Common.Svc.Contracts" minOccurs="0" name="GetChildAreasResult" nillable="true" type="q5:ArrayOfAreaContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAreaByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Id" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAreaByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MIS.Common.Svc.Contracts" minOccurs="0" name="GetAreaByIDResult" nillable="true" type="q7:AreaContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAreaByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAreaByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MIS.Common.Svc.Contracts" minOccurs="0" name="GetAreaByCodeResult" nillable="true" type="q8:AreaContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMobileIndexes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMobileIndexesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MIS.Common.Svc.Contracts" minOccurs="0" name="GetAllMobileIndexesResult" nillable="true" type="q9:ArrayOfMobileIndexesContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMobileIndexByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ID" nillable="true" type="q10:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMobileIndexByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MIS.Common.Svc.Contracts" minOccurs="0" name="GetMobileIndexByIDResult" nillable="true" type="q11:MobileIndexesContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLanguages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLanguagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MIS.Common.Svc.Contracts" minOccurs="0" name="GetLanguagesResult" nillable="true" type="q12:ArrayOfLanguageContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTranslatedText">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moduleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="languagePair" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="defaultText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTranslatedTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTranslatedTextResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTranslatedText">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moduleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="languagePair" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="translatedText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTranslatedTextResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSmsm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSmsmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendSmsmResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>